<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Data" type="TestInfo.DataSection,TestInfo" restartOnExternalChanges="false" />
  </configSections>

  <Data>
    <Commands>
      <Command Key="10000" Command="请求连接" Content="[验证信息]" Value="m&amp;7B@d#">
        <Rets>
          <Ret Key="10001" Content="[错误描述]" />
          <Ret Key="10010" Content="[成功信息]" />
        </Rets>
      </Command>
      <Command Key="11000" Command="请求账户查询" Content="[唯一标识码] [小区ID] [请求用户名]"
        Value="aadabea415804598877975c1db469489 123456 test0001">
        <Rets>
          <Ret Key="11001" Content="[唯一标识码] [错误描述]" />
          <Ret Key="11010" Content=" [唯一标识码] [角色列表个数] [角色ID1] [角色名字1] [角色职业1] [角色等级1];[角色ID2] [角色名字2] [角色职业2] [角色等级2];…[角色ID n] [角色名字n] [角色职业n] [角色等级n];" />
        </Rets>
      </Command>
      <Command Key="11100" Command="帐号激活" Content="[唯一标识码] 0 [username] [password]"
        Value="01051f62b47b483cb707d64437197e48 0 test0001 123456 0">
        <Rets>
          <Ret Key="11101" Content="[唯一标识码] [错误描述]" />
          <Ret Key="11110" Content="[唯一标识码] [成功信息]" />
        </Rets>
      </Command>
      <Command Key="11200" Command="帐号封停" Content="[唯一标识码] 0 [username] [个人或者官方]"
        Value="68d189eb0b1045b7ac672cf8c47f5bbe 0 X1 0">
        <Rets>
          <Ret Key="11201" Content="[唯一标识码] [错误描述]" />
          <Ret Key="11210" Content="[唯一标识码] [成功信息]" />
        </Rets>
      </Command>
      <Command Key="11300" Command="小区在线人数" Content="[唯一标识码] [小区ID]"
        Value="58af94b355e841f5b86b570cb2acf5dd 123456">
        <Rets>
          <Ret Key="11310" Content="[唯一标识码] [在线人数]" />
        </Rets>
      </Command>
      <Command Key="11400" Command="帐号解封" Content="[唯一标识码] 0 [username] [个人或者官方]"
        Value="8b2159ed66934659881fe6b0e6356e1e 0 X1 0">
        <Rets>
          <Ret Key="11401" Content="[唯一标识码] [错误描述]" />
          <Ret Key="11410" Content="[唯一标识码] [成功信息]" />
        </Rets>
      </Command>
      <Command Key="11500" Command="更改密码" Content=" [唯一标识码] 0 [username] [oldpassword] [newpassword]"
        Value="123456 0 test0002 zxcvbnm 123456">
        <Rets>
          <Ret Key="11501" Content="[唯一标识码] [错误描述]" />
          <Ret Key="11510" Content="[唯一标识码] [成功信息]" />
        </Rets>
      </Command>
      <Command Key="12000" Command="请求插入道具" Content="[唯一标识码] [小区ID] [角色ID] [消息个数] [[道具编号] [道具个数] [凹槽数] [是否拥有附加属性] [属性编号1] [属性值1] [属性编号2] [属性值2] [属性编号3] [属性值3] [属性编号4] [属性值4] [属性编号5] [属性值5];"
        Value="a977124626f148f5a8b4a3b5edd7352a 123456 52 1 918 1 1 0">
        <Rets>
          <Ret Key="12001" Content="[唯一标识码] [角色编号错误描述]" />
          <Ret Key="12002" Content="[唯一标识码] [角色处于在线状态]" />
          <Ret Key="12003" Content="[唯一标识码] [道具编号错误描述]" />
          <Ret Key="12004" Content="[唯一标识码] [参数错误描述]" />
          <Ret Key="12005" Content="[唯一标识码] [背包已满]" />
          <Ret Key="12010" Content="[唯一标识码] [成功信息]" />
        </Rets>
      </Command>
      <Command Key="12100" Command="请求插入海盗币" Content="[唯一标识码] [小区ID] [角色ID] [海盗币数量]"
        Value="">
        <Rets>
          <Ret Key="12101" Content="[唯一标识码] [错误描述]" />
          <Ret Key="12102" Content="[唯一标识码] [错误的海盗币数量]" />
          <Ret Key="12103" Content="[唯一标识码] [角色海盗币已达上限]" />
          <Ret Key="12110" Content="[唯一标识码] [成功信息]" />
        </Rets>
      </Command>
      <Command Key="12200" Command="请求扣除海盗币" Content="[唯一标识码] [小区ID] [角色ID] [海盗币数量]"
        Value="">
        <Rets>
          <Ret Key="12201" Content="[唯一标识码] [错误描述]" />
          <Ret Key="12202" Content="[唯一标识码] [错误的海盗币数量]" />
          <Ret Key="12203" Content="[唯一标识码] [角色海盗币已达上限]" />
          <Ret Key="12210" Content="[唯一标识码] [成功信息]" />
        </Rets>
      </Command>
      <Command Key="12300" Command="查询帐户海盗币" Content="[唯一标识码] [小区ID] [角色ID]"
        Value="">
        <Rets>
          <Ret Key="12301" Content="[唯一标识码] [错误描述]" />
          <Ret Key="12310" Content="[唯一标识码] [数量]" />
        </Rets>
      </Command>
      <Command Key="13000" Command="使用二次密码来重新绑定帐号(TOM账户转换)" Content="[唯一标识码] [小区ID] [源帐号] [二次密码] [新帐号] [新密码]"
        Value="">
        <Rets>
          <Ret Key="13001" Content="[唯一标识码] [二次密码验证失败]" />
          <Ret Key="13002" Content="[唯一标识码] [新帐号重复]" />
          <Ret Key="13003" Content="[唯一标识码] [其他错误信息]" />
          <Ret Key="13004" Content="[唯一标识码] [用户名]" />
          <Ret Key="13010" Content="[唯一标识码] [成功信息]" />
        </Rets>
      </Command>
    </Commands>
  </Data>
</configuration>