<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LanguageParser" type="Lark.LanguageCommon.LanguageSection,LanguageCommon" restartOnExternalChanges="false" />
  </configSections>

  <LanguageParser Memo="语言解析器">
    <Parsers>
      <Parser Key="lua" AssemblyName="LanguageCommon" TypeName="Lark.LanguageCommon.LuaParser">
        <LineComment Value="--" />
        <BlockCommentStart Value="" />
        <BlockCommentEnd Value="" />
        <BeforeTemplate Value="'''Add&#xD;&#xA;$Key$ = GetResString(&quot;$Key$&quot;)" />
        <CurrentTemplate Value="$Key$" />
        <AfterTemplate Value="'''Add&#xD;&#xA;" />
      </Parser>
      <Parser Key="clu" AssemblyName="LanguageCommon" TypeName="Lark.LanguageCommon.LuaParser">
        <LineComment Value="--" />
        <BlockCommentStart Value="" />
        <BlockCommentEnd Value="" />
        <BeforeTemplate Value="'''Add&#xD;&#xA;$Key$ = GetResString(&quot;$Key$&quot;)" />
        <CurrentTemplate Value="$Key$" />
        <AfterTemplate Value="'''Add&#xD;&#xA;" />
      </Parser>
      <Parser Key="txt" AssemblyName="LanguageCommon" TypeName="Lark.LanguageCommon.TxtParser">
        <LineComment Value="//" />
        <BlockCommentStart Value="" />
        <BlockCommentEnd Value="" />
        <BeforeTemplate Value="" />
        <CurrentTemplate Value="#$Key$#" />
        <AfterTemplate Value="" />
      </Parser>
      <Parser Key="c++" AssemblyName="LanguageCommon" TypeName="Lark.LanguageCommon.CppParser">
        <LineComment Value="//" />
        <BlockCommentStart Value="/*" />
        <BlockCommentEnd Value="*/" />
        <BeforeTemplate Value="'''Add&#xD;&#xA;//Modify by lark.li begin" />
        <CurrentTemplate Value="'''Modify&#xD;&#xA;UI_RES($Key$)" />
        <AfterTemplate Value="'''Add&#xD;&#xA;//Modify by lark.li begin" />
      </Parser>
    </Parsers>
  </LanguageParser>
</configuration>